<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Parallel Suite 1">
	
	<parameter name="browserOverride" value="" />
	<parameter name="gridTypeOverride" value="local" />
	
	<test name="parallel browsers 1">
	
		<parameter name="testParam" value="testValue1" />
		
		<classes>
 			<class name="com.jmack.Tests.Desktop.ChromeFeature" />
 			<!--<class name="com.jmack.Tests.Desktop.SafariFeature" />-->
			<!--<class name="com.jmack.Tests.Desktop.FirefoxFeature" />-->
			<!--<class name="com.jmack.Tests.Desktop.EdgeFeature" />-->
 			<!--<class name="com.jmack.Tests.Desktop.IeFeature" />-->
		</classes>
		
	</test>
	
</suite>